body {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: rgba(194, 169, 161, 1);
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    background-color: #a0c172;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.15) solid;
    position: relative;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 110px;
}

#logo {
    align-items: left;
    margin: 1em;
    margin-right: auto;
    margin-bottom: 0.7em;
    width: 110px;
    height: 100%;
    max-width: 100%;;
}

#logo:hover {
    transform: scale(1.03);
    transition: 0.4s ease;
}

.nav-button {
    appearance: none;
    background-color: #c1db9b;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: default;;
    font-size: 1em;
    font-weight: 600;
    margin: 0.9em;
    margin-top: 2em;;
    min-width: 0;
    padding: 0.8em 3.3em;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

}

.nav-button:disabled {
    pointer-events: none;
}

.nav-button:hover {
    color: #fff;
    background-color: #8eb15c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-3px);
}

.nav-button:active {
    box-shadow: none;
    transform: translateY(0);
}

#novenycim {
    color: #362d20;
    text-align: center;
    padding-left: 0.3em;
    margin-left: 0em;
    padding-top: 0.5em; 
    font-size: 3.5em;
    padding-bottom: 1.5em;
}

#nagyfero {
    padding-left: 2em;
    padding-top: 0.5em; 
}



.box {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    }

.box img {
    max-width: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.text{
    flex: 1;
}

footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgb(158, 130, 120);
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-top: rgba(0, 0, 0, 0.10) solid;
}


.card {
    display: inline-block;
    text-align: center;
    margin: 1.2em;
    padding: 0.1em;
    max-width: 350px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.card a {
    text-decoration: none
}

.cards1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.content {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: rgb(125, 184, 147);
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}
